h1 {color:darkgreen;}

h1,h2 {font-family:Georgia, 'Times New Roman', Times, serif; 
	text-align: center;}

img {float: left;}
	
p {line-height: 25px;}

a:hover {text-decoration: underline;}

.uc {text-transform: uppercase;}

